<h1> Edit Invoice </h1>
<%= form_with model: @edit_invoice, url: update_invoice_path(@edit_invoice.id), method: "patch"  do |f| %>
    <%= f.label :product_name %>
    <%= f.text_field :product_name %>
  
    <%= f.label :amount %>
    <%= f.number_field :amount %>
  
    <%= f.submit %>
  <% end %>